.puzzle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 500px;
  height: 500px;
  background-color: #555555;
}

.puzzle__piece {
  height: 100%;
  width: 100%;
  outline: 1px solid black;
}

.slide-right {
  animation: ease-in 200ms slideright;
}

.slide-left {
  animation: ease-in 200ms slideleft;
}

.slide-up {
  animation: ease-in 200ms slideup;
}

.slide-down {
  animation: ease-in 200ms slidedown;
}

@keyframes slideright {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slideleft {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slideup {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slidedown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
